{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<h1>Dashboard</h1>

	<div>
		{% if not hasMaxHeroes %}
			<a href="{{ path('hero_create') }}" class="btn btn-primary">Créer un Héros</a>
		{% endif %}
		{% if hasHeroes %}
			<a href="{{ path('hero_select') }}" class="btn btn-secondary">Sélectionner un Héros</a>
		{% endif %}
		<a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a>
	</div>

	{% if selectedHero %}
		<h2>Profil du Héros</h2>
		<p>
			<strong>Nom :</strong>
			{{ selectedHero.name }}</p>
		<p>
			<strong>Classe :</strong>
			{{ selectedHero.class }}</p>
		<p>
			<strong>Niveau :</strong>
			{{ selectedHero.level }}</p>
		<p>
			<strong>Expérience :</strong>
			{{ selectedHero.experience }}</p>
		<p>
			<strong>Biographie :</strong>
			{{ selectedHero.bio }}</p>
	{% endif %}

	{% if currentQuest %}
		<h2>Quête en cours</h2>
		<p>
			<strong>Titre :</strong>
			{{ currentQuest.title }}</p>
		<p>
			<strong>Description :</strong>
			{{ currentQuest.description }}</p>
		<p>
			<strong>Récompense :</strong>
			{{ currentQuest.reward }}</p>
		<p>
			<strong>Expérience Gagnée :</strong>
			{{ currentQuest.experienceGained }}</p>

		<div>
			<a href="{{ path('quest_complete', { id: currentQuest.id }) }}" class="btn btn-success">Valider la Quête</a>
			<a href="{{ path('quest_abandon', { id: currentQuest.id }) }}" class="btn btn-warning">Abandonner la Quête</a>
		</div>
	{% else %}
		<h2>Aucune quête en cours</h2>
		<a href="{{ path('meet_pnj') }}" class="btn btn-info">Rencontrer le PNJ</a>
	{% endif %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">{{ message }}</div>
	{% endfor %}

	{% for message in app.flashes('danger') %}
		<div class="alert alert-danger">{{ message }}</div>
	{% endfor %}


{% endblock %}
