{% extends 'base.html.twig' %}

{% block title %}Create a new Hero
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Create a new Hero</h1>


		{{ form_start(form) }}
		{{ form_row(form.name) }}
		{{ form_row(form.class) }}
		{{ form_row(form.bio) }}
		{{ form_end(form) }}
		{# Symfony génère le bouton automatiquement #}
	</div>
{% endblock %}
